.advantage-card {
  margin: 32px 0;
  max-width: 415px;
  flex: 1;

  img {
    
    width: 48px;
    aspect-ratio: 1/1;
    margin-bottom: 17px;
  }

  p {
    font-size: var(--font-size-s);
    line-height: 150%;
  }
}

@media screen and (max-width: var(--font-size-xxxl)) {
  .advantage-card p {
    font-size: var(--font-size-xs);
  }
}