/* Larken Bold */
@font-face {
  font-family: 'Larken';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Larken-Bold.eot') format('embedded-opentype'),
       url('../fonts/Larken-Bold.woff2') format('woff2'),
       url('../fonts/Larken-Bold.woff') format('woff'),
       url('../fonts/Larken-Bold.ttf') format('truetype');
}

/* Larken Bold Italic */
@font-face {
  font-family: 'Larken';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/Larken-BoldItalic.eot') format('embedded-opentype'),
       url('../fonts/Larken-BoldItalic.woff2') format('woff2'),
       url('../fonts/Larken-BoldItalic.woff') format('woff'),
       url('../fonts/Larken-BoldItalic.ttf') format('truetype');
}

/* Larken Extra Bold */
@font-face {
  font-family: 'Larken';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/Larken-ExtraBold.eot') format('embedded-opentype'),
       url('../fonts/Larken-ExtraBold.woff2') format('woff2'),
       url('../fonts/Larken-ExtraBold.woff') format('woff'),
       url('../fonts/Larken-ExtraBold.ttf') format('truetype');
}

/* Larken Bold Italic */
@font-face {
  font-family: 'Larken';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/Larken-Italic.eot') format('embedded-opentype'),
       url('../fonts/Larken-Italic.woff2') format('woff2'),
       url('../fonts/Larken-Italic.woff') format('woff'),
       url('../fonts/Larken-Italic.ttf') format('truetype');
}

/* Larken Light */
@font-face {
  font-family: 'Larken';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/Larken-Light.eot') format('embedded-opentype'),
       url('../fonts/Larken-Light.woff2') format('woff2'),
       url('../fonts/Larken-Light.woff') format('woff'),
       url('../fonts/Larken-Light.ttf') format('truetype');
}

/* Larken Light Italic */
@font-face {
  font-family: 'Larken';
  font-style: italic;
  font-weight: 300;
  src: url('../fonts/Larken-LightItalic.eot') format('embedded-opentype'),
       url('../fonts/Larken-LightItalic.woff2') format('woff2'),
       url('../fonts/Larken-LightItalic.woff') format('woff'),
       url('../fonts/Larken-LightItalic.ttf') format('truetype');
}

/* Larken Regular */
@font-face {
  font-family: 'Larken';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Larken-Regular.eot') format('embedded-opentype'),
       url('../fonts/Larken-Regular.woff2') format('woff2'),
       url('../fonts/Larken-Regular.woff') format('woff'),
       url('../fonts/Larken-Regular.ttf') format('truetype');
}
