* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--primary-text-color);
  font-family: 'IBM Plex Sans';
  margin: 0;
}

h1 {
  font-kerning: none;
  font-feature-settings: 'liga' off;
  font-family: Larken;
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 800;
  line-height: var(--line-height-2);
  letter-spacing: -1px;
  margin: 0;
}

h2 {
  font-kerning: none;
  font-feature-settings: 'liga' off;
  font-family: Larken;
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
  line-height: var(--line-height-3);
  letter-spacing: -0.5px;
  margin: 0;
}

h3 {
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
  line-height: var(--line-height-4);
  margin: 0 0 8px;
}

h4 {
  font-family: Lato;
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 500;
  line-height: var(--line-height-0);
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0 0 16px 0;
}

p {
  text-align: center;
  font-family: IBM Plex Sans;
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
  line-height: var(--line-height-4);
  margin: 0;
}

a {
  font-family: Lato;
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 700;
  line-height: var(--line-height-0);
  letter-spacing: 2px;
  text-decoration-line: underline;
  text-transform: uppercase;
  cursor: pointer;
  padding: 16px 0;

  &:hover {
    color: var(--primary-color);
  }
}

span {
  font-family: 'Lato';
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 500;
  line-height: var(--line-height-2);
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.side-margin-auto {
  margin-left: auto;
  margin-right: auto;
}

.max-w {
  max-width: 1440px;
}

.side-padding {
  padding-left: 64px;
  padding-right: 64px;
}

.quote {
  font-family: 'Larken';
  font-size: var(--font-size-m);
  font-style: italic;
  font-weight: 300;
  line-height: var(--line-height-4);
  padding: 0 16px 16px;
}

.bold {
  font-weight: 700 !important;
}
