/* Screen width <= 1280px */
@media screen and (max-width: var(--screen-width-l)) {
  h1 {
    font-size: var(--font-size-xxxl);
    line-height: var(--line-height-3);
  }

  h2 {
    font-size: var(--font-size-l);
    line-height: var(--line-height-2);
  }

  p, .advantage-card p {
    font-size: var(--font-size-xs);
  }

  .max-w {
    max-width: var(--screen-width-l);
  }

  .side-padding {
    padding-left: 48px;
    padding-right: 48px;
  }
}

/* Screen width <= 1024px */
@media screen and (max-width: var(--screen-width-m)) {
  h1 {
    font-size: var(--font-size-xl);
  }

  h2 {
    font-size: var(--font-size-l);
    line-height: var(--line-height-1);
  }

  .max-w {
    max-width: var(--screen-width-m);
  }

  .side-padding {
    padding-left: 32px;
    padding-right: 32px;
  }
}

/* Screen width <= 768px */
@media screen and (max-width: var(--screen-width-s)) {
  .max-w {
    max-width: var(--screen-width-s);
  }

  .side-padding {
    padding-left: 24px;
    padding-right: 24px;
  }
}

/* Screen width <= 640px */
@media screen and (max-width: var(--screen-width-xs)) {
  .max-w {
    max-width: var(--screen-width-xs);
  }

  .side-padding {
    padding-left: 16px;
    padding-right: 16px;
  }
}
