@import url(./font_ibm_plex_sans.css);
@import url(./font_larken.css);
@import url(./font_lato.css);

:root {
  --primary-color: #009EFE;
  --secondary-color: #3D8CBC;
  --tertiary-color: #6AD300;
  --white: #FFFFFF;
  --primary-text-color: #2C2B2E;
  --secondary-text-color: #818487;
  --primary-bg-color: #FFFFFF;
  --faded-primary-bg-color: rgba(255, 255, 255, 0.75);
  --secondary-bg-color: #F4F6F8;
}

body {
  color: var(--primary-text-color);
  font-family: 'IBM Plex Sans';
  margin: 0;
}

h1 {
  font-kerning: none;
  font-feature-settings: 'liga' off;
  font-family: Larken;
  font-size: 56px;
  font-style: normal;
  font-weight: 800;
  line-height: 114%;
  letter-spacing: -1px;
  margin: 0;
}

h2 {
  font-kerning: none;
  font-feature-settings: 'liga' off;
  font-family: Larken;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: -0.5px;
  margin: 0;
}

h3 {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 178%;
  margin: 0 0 8px;
}

h4 {
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0 0 16px 0;
}

p {
  text-align: center;
  font-family: IBM Plex Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 178%;
  margin: 0;
}

a {
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  text-decoration-line: underline;
  text-transform: uppercase;
  cursor: pointer;
  padding: 16px 0;

  &:hover {
    color: var(--primary-color);
  }
}

span {
  font-family: 'Lato';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 114%;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.side-margin-auto {
  margin-left: auto;
  margin-right: auto;
}

.max-w {
  max-width: 1440px;
}

.side-padding {
  padding-left: 64px;
  padding-right: 64px;
}

.quote {
  font-family: 'Larken';
  font-size: 18px;
  font-style: italic;
  font-weight: 300;
  line-height: 178%;
  padding: 0 16px 16px;
}

.bold {
  font-weight: 700 !important;
}

@media screen and (max-width: 1280px) {
  h1 {
    font-size: 40px;
    line-height: 125%;
  }

  h2 {
    font-size: 24px;
    line-height: 114%;
  }

  p, .advantage-card p {
    font-size: 14px;
  }

  .max-w {
    max-width: 1280px;
  }

  .side-padding {
    padding-left: 48px;
    padding-right: 48px;
  }
}

@media screen and (max-width: 1024px) {
  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 20px;
    line-height: 108%;
  }

  .max-w {
    max-width: 1024px;
  }

  .side-padding {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (max-width: 768px) {
  .max-w {
    max-width: 768px;
  }

  .side-padding {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 640px) {
  .max-w {
    max-width: 640px;
  }

  .side-padding {
    padding-left: 16px;
    padding-right: 16px;
  }
}
